body{

    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: rgb(39, 38, 38);
    scroll-snap-type: none;
   
}

.navbar{
    background-color: rgb(92, 92, 92); 
    padding: 7px;
}

.navbar ul{
    list-style-type: none;
    padding: 1rem;
    display: flex;
}

.navbar li a{
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.3rem;
    padding: 12px;
    transition: all 0.5s;
}

.navbar li a:hover{
    color: rgb(71, 165, 253);
    font-size: 1.8rem;
    transform: rotate(60deg);
}

h1{
    color: white;
    font-size: 3.5rem;
}

.container{
   display: flex;
   padding: 20px;
   justify-content: center;
   align-items: center;
}

.form-group{
    box-sizing: border-box;
    width: 620px;
    padding: 2.5rem;
    padding: 12px;
}


.form-group input[type = "email"],
.form-group input[type = "password"],
.form-group input[type = "text"]{

    width: 100%;
    padding: 1.3rem;
    margin: 12px;
    border-radius: 5px;
    font-size: 1.5rem;
   
}



.form-group input[type = "submit"]{
    width: 40%;
    padding: 0.7rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(71, 165, 253);
    margin: 12px;
    border: none;
    transition: all 0.5s;

}

.form-group input[type = "submit"]:hover{
    width: 55%;
    background-color: rgb(66, 164, 255);
}


.form-group label{
    color:rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 12px;
    margin: 0 auto;
}

.form-group textarea{
    color: black;
    font-size: 1.5rem;
    width: 100%;
    padding: 12px;
    margin: 12px;
    padding: 1.4rem;
    border: none;
    border-radius: 5px;

}

.alert-success{
    padding: 1.6rem;
    font-size: 1.6rem;
    background-color: rgb(0, 255, 0);
    color:white;
    font-weight: bold;
}

.alert-danger{
    padding: 1.6rem;
    font-size: 1.6rem;
    background-color: rgb(255, 0, 0);
    color:white;
    font-weight: bold;
}

.close-button{
    margin-bottom: 15px;
    font-size: 1.6rem;
    cursor: pointer;
    color:white;
    float:right;
    transition: all 0.2s;
}

.close-button:hover{
    color: rgb(71, 165, 253);
    transform: scale(2);
  
}

.post-container{

    display: flex;
    justify-content: center;
    align-items: center;
   
}


.post{
    padding: 2.8rem;
    background-color:rgb(92, 92, 92);
    margin: 1.2rem;
    border-radius: 5px;
    width: 50%;
}

.post h2{
    color:white;
    font-size: 1.5rem;
    padding: 1.3rem;

}

.post p{
    color:white;
    padding: 1.3rem;
    font-size: 1.3rem;
}

.post img{
    border-radius:50%;
    margin: 1.2rem;
    padding: 1.2rem;
}


.post-button{
    display: flex;
    justify-content:space-around;
}


.view-post{
    background-color: rgb(71, 165, 253);
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 1.3rem;
    width: 100px;
    border-radius: 5px;
    transition: all 0.2s;
}

.edit-post{
    background-color: rgb(0, 255, 0);
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 1.3rem;
    width: 100px;
    border-radius: 5px;
    transition: all 0.2s;
}

.delete-post{
    background-color: rgb(255, 0, 0);
    color:white;
    text-align: center;
    text-decoration: none;
    padding: 1.3rem;
    width: 100px;
    border-radius: 5px;
    transition: all 0.2s;
}

.view-post:hover{
    background-color: rgb(148, 203, 255);
    width:200px;
    color:rgb(0, 0, 0);
  
}

.edit-post:hover{
    background-color: rgb(152, 255, 152);
    width:200px;
    color:black;
 
}

.delete-post:hover{
    background-color: rgb(255, 158, 158);
    width:200px;
    color:black;

}


.profile-container{

    display:block;
    background-color: rgb(92, 92, 92);;
    border-radius: 5px;
    padding: 2.2rem;

}

.profile-pic img{
    border-radius: 50%;
    padding: 1.4rem;
    margin:1.5rem;
}

.profile-pic form input[type = "file"]{
    padding: 1.4rem;
    margin: 1.3rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1.2rem;
}

.profile-pic form input[type = "submit"]{
    width:120px;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: white;
    border-radius: 5px;
    background-color: rgb(71, 165, 253);
    margin:1.5rem;
    border: none;
    text-align: center;
}

.profile-container a{

    padding: 1.4rem;
    margin: 1.4rem;
    border-radius: 5px;
    width: 100px;
    color:white;
    background-color: rgb(71, 165, 253);
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}